<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title></title>
	<link href="../bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" />
	<link href="../Style/style.css" rel="stylesheet" />
</head>
<body onload="APPLICATION.init()">



	<div class="container">

		<header class="page-header">

			<h1>WebSocket</h1>

		</header>

		<div id="client" class="row">

		<div class="col-xs-2">
				<div class="input-group  input-group-xs">
					<span class="input-group-addon">NickName</span>
					<input id="client_nick_name" type="text" class="form-control" placeholder="">
				</div>
			</div>
		</div>
		<div id="send" class="row">

			<div class="col-xs-11">
				<div class="input-group  input-group-xs">

					<span class="input-group-addon">Message:</span>
					<input id="message" type="text" class="form-control" placeholder="">
				</div>

			</div>

			<div class="col-xs-1  buttonAnchestor">
				<button type="button" onclick="APPLICATION.onSend()" class="btn btn-info">

					<i class="glyphicon glyphicon-play"></i>
				</button>

			</div>

		</div>





		<div id="receive" class="row">



		</div>

	</div>

	<script src="../Script/jquery-2.2.3.js"></script>
	<script src="../bootstrap-3.3.6-dist/js/bootstrap.js"></script>
	<script src="../Script/jquery.blockUI.js"></script>
	<script src="../Script/main.js"></script>

</body>
</html>
